@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}

.custom-img {
    background-image: url("https://cdn.discordapp.com/attachments/1061382349138444338/1066148422459068436/itsalexey_alxzenin_more_vibrant_ba5d778a-bbf9-4ecd-844b-179047123098.png");
}
